.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  border-color: #444;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.App-container {
  min-height: 82vh;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App-footer {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #444;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
