.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  border-color: #444;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.input-search {
  /* width: 30%; */
  width: 100%;
  padding: 12px;
  border-radius: 3px;
  background-color: whitesmoke;
  border: 0;
  margin-top: 10px;
}

.App-container {
  min-height: 82vh;
  padding: 20px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination {
  display: 'flex';
  justify-content: 'space-around'; 
  width: 100%;
  margin: 0 auto;
}

.App-footer {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #444;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

@media only screen and (min-width: 961px) {
  .App-container {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 414px) {
  .App-header {
    min-height: 20vh;
    flex-direction: column;
  }
  .input-search {
    padding: 5;
    margin-top: 5px;
  }
  .App-container {
    min-height: 72vh;
    padding: 2px;
  }
  .pagination {
    width: 100%;
  }
}